**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [72]:
# Dependencies
import pandas as pd

In [73]:
# load CSV
csv_path = "2016-FCC-New-Coders-Survey-Data.csv"

In [74]:
# Read with pandas--low_memory required to suppress errors about mixed data types
new_coders_pd = pd.read_csv(csv_path, encoding = 'iso-8859-1', low_memory=False)
new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [75]:
# Inspect all columns
new_coders_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [76]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_coders_pd = new_coders_pd.iloc[:, [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [77]:
# Change reading 0 and 1 to No and Yes, respectively
reduced_coders_pd = reduced_coders_pd.replace({0.0: "No", 1.0: "Yes"})
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [78]:
# Calculate total number of respondents in survey
total_surveyed = len(reduced_coders_pd)
total_surveyed

15620

In [79]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"] == "Yes"]
attended_bootcamp.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampName            895
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [80]:
# Calculate average age of attendees
average_age = attended_bootcamp["Age"].mean()

# Calculate how many people attended a bootcamp
amount_attended = attended_bootcamp["AttendedBootcamp"].count()

# Calculate how many attendees hold degrees
holds_degree = attended_bootcamp["SchoolDegree"].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_bootcamp["Gender"].count()
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
non_gender_specific = total_gender - male - female

# Calculate percentage of respondents who attended a bootcamp
percent_attended = amount_attended / total_surveyed * 100

# Calculate percentage of respondents belonging to each gender
percent_male = (male / total_gender) * 100
percent_female = (female / total_gender) * 100
percent_non_gender = (non_gender_specific / total_gender) * 100

# Calculate percentage of attendees with a school degree
percent_degree = holds_degree / amount_attended * 100

# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()

In [81]:
# Create a new table consolodating above calculations
bootcamp_breakdown = pd.DataFrame({"Total Surveyed":[total_surveyed],
                                "Total bootcamp attendees":[amount_attended],
                                "% attended bootcamp":[percent_attended],
                                "Avg. Age":[average_age],
                                "% male":[percent_male],
                                "% female":[percent_female],
                                "% nonbinary":[percent_non_gender],
                                "Has a degree":[percent_degree],
                                "Avg post bootcamp salary":[avg_salary]
                               })

bootcamp_breakdown = bootcamp_breakdown[["Total Surveyed", "Total bootcamp attendees", "% attended bootcamp", "Avg. Age", "% male", "% female", "% nonbinary", "Has a degree", "Avg post bootcamp salary"]]
bootcamp_breakdown = bootcamp_breakdown.round(2)

In [86]:
# Improve formatting before outputting spreadsheet
bootcamp_breakdown["% Male"] =bootcamp_breakdown["% Male"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Female"] =bootcamp_breakdown["% Female"].map("{0:,.2f}%".format)
bootcamp_breakdown["% attended bootcamp"] =bootcamp_breakdown["% attended bootcamp"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Non Gender Specific"] =bootcamp_breakdown["% Non Gender Specific"].map("{0:,.2f}%".format)
bootcamp_breakdown["Has a degree"] =bootcamp_breakdown["Has a degree"].map("{0:,.2f}%".format)
bootcamp_breakdown["Average Post Bootcamp Salary"] =bootcamp_breakdown["Average Post Bootcamp Salary"].map("{0:,.0f}%".format)
bootcamp_breakdown

KeyError: '% Male'

In [84]:
# Export to Excel
bootcamp_breakdown.to_excel("output/Bootcamppart1.xlsx", index=False)